<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AiChatSessionMapper">
    
    <resultMap type="AiChatSession" id="AiChatSessionResult">
        <result property="sessionId"    column="session_id"    />
        <result property="userId"    column="user_id"    />
        <result property="role"    column="role"    />
        <result property="title"    column="title"    />
        <result property="bizType"    column="biz_type"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAiChatSessionVo">
        select session_id, user_id, role, title, biz_type, status, create_time, update_time from ai_chat_session
    </sql>

    <select id="selectAiChatSessionList" parameterType="AiChatSession" resultMap="AiChatSessionResult">
        <include refid="selectAiChatSessionVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="role != null  and role != ''"> and role = #{role}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="bizType != null  and bizType != ''"> and biz_type = #{bizType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAiChatSessionBySessionId" parameterType="Long" resultMap="AiChatSessionResult">
        <include refid="selectAiChatSessionVo"/>
        where session_id = #{sessionId}
    </select>

    <insert id="insertAiChatSession" parameterType="AiChatSession" useGeneratedKeys="true" keyProperty="sessionId">
        insert into ai_chat_session
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="role != null and role != ''">role,</if>
            <if test="title != null">title,</if>
            <if test="bizType != null">biz_type,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="role != null and role != ''">#{role},</if>
            <if test="title != null">#{title},</if>
            <if test="bizType != null">#{bizType},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAiChatSession" parameterType="AiChatSession">
        update ai_chat_session
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="role != null and role != ''">role = #{role},</if>
            <if test="title != null">title = #{title},</if>
            <if test="bizType != null">biz_type = #{bizType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where session_id = #{sessionId}
    </update>

    <delete id="deleteAiChatSessionBySessionId" parameterType="Long">
        delete from ai_chat_session where session_id = #{sessionId}
    </delete>

    <delete id="deleteAiChatSessionBySessionIds" parameterType="String">
        delete from ai_chat_session where session_id in 
        <foreach item="sessionId" collection="array" open="(" separator="," close=")">
            #{sessionId}
        </foreach>
    </delete>
</mapper>